@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

.text-upppercase {
  text-transform: capitalize;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease-in;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(300px);
}

[color-theme="dark"] {
  background-color: #121212;
  color: white;
}

[color-theme="light"] {
  background-color: white;
  color: black;
}
