@import "tailwindcss";


/* Load DaisyUI */
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, synthwave;
}

.text-upppercase {
  text-transform: capitalize;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease-in;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(300px);
}
